backports.tarfile==1.2.0
chill==0.10.1
colorama==0.4.6
cookiecutter==2.6.0
django-browser-reload==1.21.0
django-ckeditor==6.7.2
django-tailwind==4.2.0
gunicorn==23.0.0
honcho==2.0.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pillow==11.1.0
pip-chill==1.0.3
pip-tools==7.5.1
pylint-celery==0.3
pylint-django==2.6.1
python-dotenv==1.1.1
tomli==2.0.1
tzdata==2025.2
whitenoise==6.11.0
