{% extends "core/base.html" %}

{% block title %}About me{% endblock %}
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %} 
    <h1>About me</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/avatar-bg.jpg' %} "  alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Ekaitz Martin</h2>   
        <p>Hello, Ekaitz here! I'm a 21 year old Software Developer</p>
        <p>Apart from coding, I have plenty of other passions, one of them is exercising. My mindset towards all of them is the same, 
        give all that I have every day, listen to people who are where I will and keep learning from them lead by my willingness to improve while I meet incredible people through my journey</p>
        <p class="quote"> Consistently good > Occasionally great</p>
    </div>
</div>
{% endblock %}
